@model KNC.ViewModels.RoutineViewModel

<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("Edit", "Routine", FormMethod.Post, new { @class = "form" }))
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="modalFormLabel">Edit Routine</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.RoutineID)
                    <div class="row g-3">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.ProgramID, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ProgramID, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.Year, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.Section, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Section, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.ProgramCourseID, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ProgramCourseID, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.FacultyID, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.FacultyID, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.RoomNo, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.DayOfWeek, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.DayOfWeek, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.StartTime, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control", type = "time" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.EndTime, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control", type = "time" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>