@model IEnumerable<KNC.ViewModels.ProgramCourseViewModel>

@{
    ViewBag.Title = "Program Courses";
}

<h2>Program Courses</h2>

<p>
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalForm" onclick="showCreateModal()">Create New</button>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Program ID</th>
            <th>Course ID</th>
            <th>Year</th>
            
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProgramID</td>
                <td>@item.CourseID</td>
                <td>@item.Year</td>
                <td>
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modalForm" onclick="showDetailsModal(@item.ProgramCourseID)">Details</button>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalForm" onclick="showEditModal(@item.ProgramCourseID)">Edit</button>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalForm" onclick="showDeleteModal(@item.ProgramCourseID)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>