@model KNC.ViewModels.FacultyViewModel

<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalFormLabel">Faculty Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">FirstName</dt>
                    <dd class="col-sm-8">@Model.FirstName</dd>
                    <dt class="col-sm-4">lastName</dt>
                    <dd class="col-sm-8">@Model.LastName</dd>
                    <dt class="col-sm-4">Contact No</dt>
                    <dd class="col-sm-8">@Model.Phone</dd>
                    <dt class="col-sm-4">Current Address</dt>
                    <dd class="col-sm-8">@Model.CurrentAddress</dd>
                    <dt class="col-sm-4">Permanent Address</dt>
                    <dd class="col-sm-8">@Model.PermanentAddress</dd>
                    <dt class="col-sm-4">Email</dt>
                    <dd class="col-sm-8">@Model.Email</dd>
                    <dt class="col-sm-4">Education Qualification</dt>
                    <dd class="col-sm-8">@Model.EducationalQualification</dd>
                    <dt class="col-sm-4">Joining Date</dt>
                    <dd class="col-sm-8">@Model.JoiningDate</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
