@model KNC.ViewModels.StudentsViewModel

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="detailsModalLabel">Student Details</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">First Name</dt>
                    <dd class="col-sm-8">@Model.FirstName</dd>

                    <dt class="col-sm-4">Last Name</dt>
                    <dd class="col-sm-8">@Model.LastName</dd>

                    <dt class="col-sm-4">Student Code</dt>
                    <dd class="col-sm-8">@Model.StudentCode</dd>

                    <dt class="col-sm-4">Email</dt>
                    <dd class="col-sm-8">@Model.Email</dd>

                    <dt class="col-sm-4">Phone</dt>
                    <dd class="col-sm-8">@Model.Phone</dd>

                    <dt class="col-sm-4">Permanent Address</dt>
                    <dd class="col-sm-8">@Model.PermanentAddress</dd>

                    <dt class="col-sm-4">Current Address</dt>
                    <dd class="col-sm-8">@Model.CurrentAddress</dd>

                    <dt class="col-sm-4">Admission Date</dt>
                    <dd class="col-sm-8">@Model.AdmissionDate.ToString("yyyy-MM-dd")</dd>

                    <dt class="col-sm-4">Program ID</dt>
                    <dd class="col-sm-8">@Model.ProgramID</dd>

                    <dt class="col-sm-4">Profile Image</dt>
                    <dd class="col-sm-8">
                        @if (!string.IsNullOrEmpty(Model.LinkImage))
                        {
                            <img src="@Model.LinkImage" alt="Profile Image" class="img-fluid rounded" style="max-height:150px;" />
                        }
                        else
                        {
                            <span class="text-muted">No image available</span>
                        }
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
