@model IEnumerable<KNC.ViewModels.FacultyViewModel>

@{
    ViewBag.Title = "Faculties";
}

<h2>Faculties</h2>

<p>
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalForm" onclick="showCreateModal()">Create New</button>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Faculty Name</th>
            <th>Description</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FacultyName</td>
                <td>@item.Description</td>
                <td>
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modalForm" onclick="showDetailsModal(@item.FacultyID)">Details</button>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalForm" onclick="showEditModal(@item.FacultyID)">Edit</button>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalForm" onclick="showDeleteModal(@item.FacultyID)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        function loadModal(url) {
            $.get(url, function(data) {
                $('#modal-placeholder').html(data);
                $('#modal-placeholder').find('.modal').modal('show');
            });
        }

        $('#btnAdd').click(() => loadModal('@Url.Action("Create")'));
        $('.btnEdit').click(function () { loadModal('@Url.Action("Edit/", new { id = "" })' + $(this).data('id')); });
        $('.btnDetails').click(function () { loadModal('@Url.Action("Details/", new { id = "" })' + $(this).data('id')); });
        $('.btnDelete').click(function () { loadModal('@Url.Action("Delete/", new { id = "" })' + $(this).data('id')); });
    </script>
}