@model KNC.Models.EducationPrograms

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="mb-4 text-primary fw-bold">Edit Program</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.EducationProgramID)

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mb-3">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group input-group-outline">
                    @Html.LabelFor(model => model.ProgramName, htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.ProgramName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProgramName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <br />

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group input-group-outline">
                        @Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group input-group-outline">
                        @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Duration, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="text-end">
            <input type="submit" value="Save" class="btn btn-primary" />
            @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ms-2" })*@
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
