@model IEnumerable<KNC.ViewModels.EducationProgramsViewModel>

@{
    ViewBag.Title = "Education Programs";
}

<h2>Programs</h2>

<p>
    <button class="btn btn-success mb-3" id="btnAdd">Add New Program</button>
</p>
<div id="modal-placeholder"></div>
<table id="programTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Program Name</th>
            <th>Duration (Years)</th>
            <th>Description</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProgramName</td>
                <td>@item.Duration</td>
                <td>@item.ShortName</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item btnEdit" href="javascript:void(0);" data-id="@item.ProgramID">Edit</a>
                            </li>
                            <li>
                                <a class="dropdown-item btnDetails" href="javascript:void(0);" data-id="@item.ProgramID">Details</a>
                            </li>
                            <li>
                                <a class="dropdown-item btnDelete text-danger" href="javascript:void(0);" data-id="@item.ProgramID">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#programTable').DataTable();

            $('#btnAdd').click(() => loadModal('@Url.Action("Create")'));
            $('#programTable').on('click', '.btnEdit', function () {
                loadModal('@Url.Action("Edit/", new { id = "" })' + $(this).data('id'));
            });
            $('#programTable').on('click', '.btnDetails', function () {
                loadModal('@Url.Action("Details/", new { id = "" })' + $(this).data('id'));
            });
            $('#programTable').on('click', '.btnDelete', function () {
                loadModal('@Url.Action("Delete/", new { id = "" })' + $(this).data('id'));
            });
        });

        function loadModal(url) {
            $.get(url, function (data) {
                $('#modal-placeholder').html(data);
                $('#modal-placeholder').find('.modal').modal('show');
            });
        }
    </script>
}