@model KNC.Models.Certificates

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Certificates</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HolderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolderCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolderCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CertificateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
