@model IEnumerable<KNC.Models.Certificates>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HolderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolderCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CertificateID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CertificateID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CertificateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
