@model List<KNC.ViewModels.StudentsViewModel>

@{
    ViewBag.Title = "Student List";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />

<h2>Student List</h2>
<button class="btn btn-success mb-3" id="btnAdd">Add New Student</button>

<div id="modal-placeholder"></div>

<table id="studentsTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Program</th>
            <th>Year</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Admission Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FirstName @student.LastName</td>
                <td>@student.ProgramName</td>
                <td>@student.Year</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td>@student.AdmissionDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item btnEdit" href="javascript:void(0);" data-id="@student.StudentID">Edit</a>
                            </li>
                            <li>
                                <a class="dropdown-item btnDetails" href="javascript:void(0);" data-id="@student.StudentID">Details</a>
                            </li>
                            <li>
                                <a class="dropdown-item btnDelete text-danger" href="javascript:void(0);" data-id="@student.StudentID">Delete</a>
                            </li>
                            <li>
                                <a class="dropdown-item btnCreateLogin" href="javascript:void(0);" data-id="@student.StudentID" data-email="@student.Email">Create Login Credential</a>
                            </li>
                            <li>
                                <a class="dropdown-item btnResetPassword text-warning" href="javascript:void(0);" data-id="@student.StudentID" data-email="@student.Email">Reset Password</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#studentsTable').DataTable();

            $('#btnAdd').click(() => loadModal('@Url.Action("Create")'));
            $('#studentsTable').on('click', '.btnEdit', function () {
                loadModal('@Url.Action("Edit/", new { id = "" })' + $(this).data('id'));
            });
            $('#studentsTable').on('click', '.btnDetails', function () {
                loadModal('@Url.Action("Details/", new { id = "" })' + $(this).data('id'));
            });
            $('#studentsTable').on('click', '.btnDelete', function () {
                loadModal('@Url.Action("Delete/", new { id = "" })' + $(this).data('id'));
            });
            $('#studentsTable').on('click', '.btnCreateLogin', function () {
                var email = $(this).data('email');
                var id = $(this).data('id');
                loadModal('@Url.Action("CreateLoginCredential", "Account")' + '?email=' + encodeURIComponent(email) + '&userType=Student&userId=' + id);
            });
            $('#studentsTable').on('click', '.btnResetPassword', function () {
                var email = $(this).data('email');
                loadModal('@Url.Action("ResetPassword", "Account")' + '?email=' + encodeURIComponent(email));
            });
        });

        function loadModal(url) {
            $.get(url, function (data) {
                $('#modal-placeholder').html(data);
                $('#modal-placeholder').find('.modal').modal('show');
            });
        }
    </script>
}